
<!-- {% extends 'base.html' %} -->
<!-- content block -->
<!-- 
{% block content %}
<div id="category">
  <h2>Welcome to {{category | title }}</h2>
  <a class="btn btn-warning text-center " href="{{url_for('main.new_post', blog_name=blog)}}">
  </span>Blog out</a>
  
           {% for post in posts %}
           <div class="panel panel-primary">
               <div class="panel-heading">
                 <h3 class="panel-title">{{post.post_title}}</h3>
               </div>
               <div class="panel-body">
                   <p class='firstletter'>{{post.post_text}}</p>
               </div>
               {% if current_user.is_authenticated %}
               <div class="panel-footer">
                 <a class="btn btn-success text-center" href="{{url_for('main.view_post', id=post.id)}}">View Comments</a>
                 <a class="btn btn-warning text-center" href="{{url_for('main.update_posts', id=post.id)}}">Update Post</a>
                 <a class="btn btn-danger text-center" href="{{url_for('main.delete_post', id=post.id)}}">Delete Post</a>
               </div> -->

               {% else %}
               <div class="panel-footer"><a class="btn btn-primary text-center" href="{{url_for('main.view_post', id=post.id)}}">View Comments</a></div>
               {%endif%}
           </div>
  {% endfor %}

{% endblock %}