{% extends 'base.html' %}

{% block content %}
<div id="blog">
    <h1 class="animated rotateIn " style="text-align:center;padding-top:60px">Welcome to Blog</h1>
    <div class="blog">
        <p class="animated fadeInUpBig"><a class="btn btn-primary " href="{{url_for('main.new_post')}}"><span class="glyphicon glyphicon-smiling"
                aria-hidden="true"></span>Blog out</a></p>
    </div>
   

    {% for post in posts %}
    <div class="panel panel-primary">

        <h3 class="panel-title">{{post.post_title}}</h3>

        <div class="panel-body">
            <p class='firstletter'>{{post.post_text}}</p>
        </div>
        {% if current_user.is_authenticated %}
        <div class="panel-footer">
            <a class="btn btn-primary text-center" style ="font-size:large" href="{{url_for('main.view_post', id=post.id)}}">View Comments</a>
            <a class="btn btn-primary text-center" style ="font-size:large" href="{{url_for('main.update_post', id=post.id)}}">Update Post</a>
            <a class="btn btn-primary text-center" style ="font-size:large" href="{{url_for('main.delete_post', id=post.id)}}">Delete Post</a>
        </div>

        {% else %}
        <div class="panel-footer"><a class="btn btn-primary text-center" href="{{url_for('main.view_post', id=post.id)}}">View
                Comments</a></div>
        {%endif%}
    </div>
    {% endfor %}

    {% endblock %}